.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 190px;
  background-color: $bg-basic-green;
  background: linear-gradient(0.25turn, $gradient-green, $gradient-green), url('../../images/banner-bg@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 290px;
  margin-bottom: 40px;
  position: relative;

  @media screen and (width > $tablet-width) {
    padding: 70px 125px 70px;
    justify-content: flex-end;
    flex-direction: row;
    height: 200px;
  }

  @media screen and (width > $desktop-width) {
    padding: 42px;
    flex-direction: column;
    align-items: flex-end;
    width: 245px;
    margin-bottom: 0;
    height: auto;
  }

  &::before {
    content: '';
    display: block;
    width: 78px;
    height: 80px;
    position: absolute;
    top: 58px;
    background-image: url('../../icons/stack.svg#icon-gift');

    @media screen and (width > $tablet-width) {
      top: 57px;
      left: 79px;
    }

    @media screen and (width > $desktop-width) {
      top: 58px;
      left: 85px;
    }
  }

  &__text {
    font-family: $font-family-lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $basic-white;
    display: block;
    max-width: 161px;
    text-align: center;

    @media screen and (width > $tablet-width) {
      text-align: left;
    }

    @media screen and (width > $desktop-width) {
      text-align: center;
    }
  }
}
