.benefits {
  margin-top: 0;
  padding-bottom: 54px;

  @media screen and (width > $tablet-width) {
    max-width: 708px;
    padding-bottom: 76px;
  }

  @media screen and (width > $desktop-width) {
    max-width: 1220px;
    padding-bottom: 43px;
  }

  &__wrapper {
    display: grid;
  }

  &__title {
    font-family: $font-family-oswald;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: $basic-black;
    margin-bottom: 40px;

    @media screen and (width > $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 72px;
      margin-left: 10px;
     }

     @media screen and (width > $tablet-width) {
      margin-left: 30px;
     }
  }

  &__list {
    display: grid;
    counter-reset: benefits-counter 0;

    @media screen and (width > $tablet-width) {
      grid-template-columns: 1fr 1fr;
      gap: 84px 98px;
     }

     @media screen and (width > $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 37px 80px;
     }
  }

  &__item {
    background-image: url('../../icons/stack.svg#icon-leaf');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: 0 -3px;
    min-height: 60px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (width > $tablet-width) {
      max-width: 250px;
      padding-top: 46px;
      counter-increment: benefits-counter 1;
      background-size: 100px 82px;

      @media screen and (width > $desktop-width) {
        background-position: 18px -2px;
      }

      &::after {
        content: counter(benefits-counter);
        font-size: 280px;
        line-height: 280px;
        color: $grey-f2f2f2;
        font-family: $font-family-oswald;
        z-index: -1;
        margin-left: -80px;
        margin-top: -98px;

        @media screen and (width > $tablet-width) {
          margin-left: -134px;
          margin-top: -102px;
        }

          @media screen and (width > $desktop-width) {
            margin-left: -126px;
          }
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }
     }


  }

  &__text {
    font-family: $font-family-lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 80px;
    color: $base-text-color;

    @media screen and (width > $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      margin-left: 10px;
    }

    @media screen and (width > $desktop-width) {
      min-width: 242px;
      margin-left: 22px;
    }
  }

  &__item--water {
    background-image: url(../../icons/stack.svg#icon-water);

    @media screen and (width > $tablet-width) {
      padding-top: 68px;
     }
  }

  &__item--meal {
    background-image: url(../../icons/stack.svg#icon-meal);
    background-position: 0 -15px;
    @media screen and (width > $desktop-width) {
      background-position: 16 -2px;
    }
  }

  &__item--scales {
    background-image: url(../../icons/stack.svg#icon-scales);

    @media screen and (width > $desktop-width) {
      background-position: 10 -2px;
    }
  }
}
