.card-more {
  padding: 78px 20px 25px;
  border-bottom: $border-dark;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media screen and (width > $tablet-width) {
    padding: 78px 37px 40px;
    border: 2px solid $grey-f2f2f2;
    height: 395px;
    align-self: flex-end;
    justify-content: flex-end;
  }

  @media screen and (width > $desktop-width) {
    max-width: 245px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__img {
    display: block;
    margin-bottom: 23px;

    @media screen and (width > $tablet-width) {
      width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-family: $font-family-oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black-111111;
    margin-bottom: 8px;
    text-transform: uppercase;
    position: relative;

    @media screen and (width > $tablet-width) {
      font-size: 20px;
      line-height: 24px;
      max-width: 170px;
      text-align: center;
      margin-bottom: 21px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -50px;
      left: 86px;
      width: 30px;
      height: 30px;
      background-image: url('../../icons/stack.svg#icon-plus');

      @media screen and (width > $tablet-width) {
        top: -100px;
        left: 50px;
        width: 60px;
        height: 60px;
      }
    }
  }

  &__text {
    font-family: $font-family-lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $base-text-color;

    @media screen and (width > $tablet-width) {
      font-size: 16px;
      line-height: 18px;
      max-width: 170px;
      text-align: center;
      margin-bottom: 49px;
    }
  }
}
