.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ebebeb;
  padding-block: 20px;
  padding-inline: 20px;

  &__title {
    max-width: 76px;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    font-family: $font-family-oswald;
    padding-bottom: 14px;
    text-transform: uppercase;
  }

  &__text {
    line-height: 16px;
    font-size: 12px;
  }

  &__details {
    color: $base-text-color;
    font-size: 12px;
    line-height: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 64px;
    padding-bottom: 17px;
  }

  &__value {
    text-align: right;
  }

  &__link {
    display: flex;
  }
}

