.card-additional {
  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;
  padding-block: 13px 19px;
  display: flex;
  flex-direction: column;

  &__title {
    font-family: $font-family-oswald;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    text-transform: uppercase;
    padding-bottom: 13px;
  }

  &__details {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
  }
}
