.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: $font-family-oswald;
    font-size: 36px;
    line-height: 36px;
    color: $basic-black;
    padding-block: 27px 41px;
    border-top: $border;
    border-bottom: $border-dark;
    width: 100%;
    padding-inline: $container-padding-x-mobile;

    @media screen and (width > $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      border: none;
      padding-inline: $container-padding-x-tablet;
    }

    @media screen and (width > $desktop-width) {
      padding-inline: $container-padding-x-desktop;
    }
  }

  &__list {
    @media screen and (width > $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
    }

    @media screen and (width > $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;
    }
  }

}
