@import "./common/variables.scss";


.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    padding: 13px 20px;
  }

  &__logo picture {
    margin-right: 56px;
  }
}


