.header {
  background-color: $basic-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  width: 100%;
  min-height: 65px;
  position: relative;

  @media screen and (width > $tablet-width) {
    padding: 25px 34px 20px 30px;
    max-width: 708px;
    margin: 0 auto;
  }

  @media screen and (width > $desktop-width) {
    padding: 55px 110px 20px 110px;
    max-width: 1220px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo picture {
    display: inline-block;

    @media screen and (width > $tablet-width) {
        margin-right: 14px;
      }
    }

  &__logo--text {
    margin: 0;

    @media screen and (width > $tablet-width) {
      margin-right: auto;
    }

    img {
      vertical-align: middle;

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  &--border-bottom {

    @media screen and (width < $tablet-width) {
      border-bottom: $border;
    }
  }
}


