.header {
  background-color: $basic-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  width: 100%;
  min-height: 65px;
  position: relative;

  @media screen and (width > $tablet-width) {
    padding: 25px 34px 20px 30px;
  }

  @media screen and (width > $desktop-width) {
    padding: 55px 110px 20px 110px;
    justify-content: center;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo picture {
    display: inline-block;

    @media screen and (width > $desktop-width) {
        margin-right: 14px;
      }
    }

  &__logo--text {

    @media screen and (width > $desktop-width) {
      margin-right: 543px;
    }
  }

  &--border-bottom {

    @media screen and (width < $tablet-width) {
      border-bottom: $border;
    }
  }
}


