.hero {
  width: 100%;
  min-height: 480px;
  padding-block: 20px 27px;
  font-family: $font-family-oswald;
  color: $basic-white;
  background-image: url('../../images/hero-bg@2x.png');
  // background: linear-gradient($gradient-green, url('../../images/hero-bg@2x.png'));
  background-size: 100% 320px;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: cover;
  background-color:  $basic-white;
  position: relative;

  @media screen and (width > $tablet-width) {
    background-image: none;
    color:  $basic-black;
    }

  @media screen and (width > $desktop-width) {
    padding-top: 80px;

     &::before {
       content: '';
       width: 720px;
       height: 625px;
       position: absolute;
       top: -210px;
       right: 0;
       background-image: url('../../images/hero-bg-desktop@1x.png');
       z-index: 1;
     }
    }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media screen and (width > $tablet-width) {
      align-items: flex-start;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 25px;

    @media screen and (width > $tablet-width) {
      max-width: 414px;
      text-align: left;
      font-size: 44px;
      line-height: 45px;
      display: block;
      margin-left: 120px;
      margin-bottom: 40px;
    }

    @media screen and (width > $desktop-width) {
      font-size: 60px;
      line-height: 60px;
      max-width: 417px;
      margin-left: 80px;

    }
  }

  &__text {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 29px;
    text-transform: uppercase;

    @media screen and (width > $tablet-width) {
      text-align: left;
      font-size: 15px;
      line-height: 15px;
      display: block;
      margin-left: 120px;
      margin-bottom: 50px;

    }

    @media screen and (width > $desktop-width) {
      margin-left: 80px;
    }
  }

  &__link {
    @media screen and (width > $tablet-width) {
      width: 244px;
      height: 54px;
      margin-left: 120px;
      position: absolute;
      top: 175px;
    }

    @media screen and (width > $desktop-width) {
      width: 244px;
      margin-left: 80px;
      position: absolute;
      top: 200px;
    }
  }

  &__img {

    @media screen and (width > $desktop-width) {
      position: absolute;
      left: 425px;
      top: -80px;
      z-index: 2;
    }
  }
}
