.invitation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3px;
    min-height: 112px;
    padding-block: 26px;

    @media screen and (width > $tablet-width) {
      column-gap: 310px;
      padding-block: 60px;
      padding-inline: 40px;
    }

    @media screen and (width > $desktop-width) {
      position: absolute;
      left: 110px;
      top: 95px;
      width: 565px;
      height: 199px;
      background-color: $basic-white;
      column-gap: 0;
      padding-inline: 78px;
    }

  &__title {
    font-family: $font-family-oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black-111111;
    text-transform: uppercase;

    @media screen and (width > $tablet-width) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__text {
    font-family: $font-family-lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    @media screen and (width > $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      color: $base-text-color;
      text-align: right;
      max-width: 160px;
      justify-self: flex-end;
    }

    @media screen and (width > $desktop-width) {
      text-align: left;
    }
  }
}
