.invitation {
  height: 112px;
  display: flex;
  padding-block: 26px;

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
    min-width: 140px;
    max-width: 279px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
  }
}
