.main-catalog {
  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
  }

  &__link {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: $bg-basic-green;

    &--show-more {
      font-family: "Oswald", sans-serif;
      color: $base-text-color;
      background-color: $basic-grey;
    }
  }
}
