.main-catalog {

  &__title {
    font-family: $font-family-oswald;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    padding-block: 27px 41px;
    padding-left: 20px;
    border-bottom: $border-main-catalog;
    border-top: $border;
  }

  &__link--show-more {
    font-family: $font-family-oswald;
    color: $base-text-color;
    background-color: $basic-grey;

  }
}
