.map {
    position: relative;
    background-color: $grey-f2f2f2;

&__iframe {
  width: 100%;
  height: 362px;
  background-image:
            image-set(
            url('../../images/map-bg@1x.jpg') type("image/jpg") 1x,
            url('../../images/map-bg@2x.jpg') type("image/jpg") 2x);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  display: block;

  @media screen and (width > $tablet-width) {
    height: 400px;
    background-image:
            image-set(
              url('../../images/map-tablet@1x.jpg') type("image/jpg") 1x,
              url('../../images/map-tablet@2x.jpg') type("image/jpg") 2x);
  }

  @media screen and (width > $desktop-width) {
    background-image:
    image-set(
      url('../../images/map-desktop@1x.jpg') type("image/jpg") 1x,
      url('../../images/map-desktop@2x.jpg') type("image/jpg") 2x);
  }
}
}
