.navigation {
  display: none;

  @media screen and (width > $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    width: 100%;
  }

  &__item {
    @media screen and (width > $tablet-width) {
      border: none;
    }
  }

  &__link {
    font-family: $font-family-oswald;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-transform: uppercase;

    @media screen and (width > $tablet-width) {
      padding-inline: 16px;
      display: inline-flex;
      text-align: center;
      position: relative;

      &--current::after {
        position: absolute;
        content: "";
        right: 16px;
        left: 16px;
        bottom: -10px;
        height: 2px;
        background-color: $bg-basic-green;
      }
    }

    @media screen and (width > $desktop-width) {
      &--main-desktop {
        z-index: 2;
        color: $basic-white;
      }
    }
  }

  &__list {

    @media screen and (width > $tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 436px;
    }

    @media screen and (width > $desktop-width) {
      min-width: 510px;
    }
  }
}


// стили для выпадающего меню
.navigation.navigation--active {
  @media screen and (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    height: fit-content;
    width: 100%;
    top: 67px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow-y: auto;
    background-color: $basic-white;
  }

  .navigation__container {
    position: sticky;
    top: 0;
  }

  .navigation__item {
      border-bottom: 1px solid $grey-e6e6e6;

      &:first-child {
        border-top: 1px solid $grey-e6e6e6;
      }
    }

    .navigation__link {
      display: inline-flex;
      font-family: $font-family-oswald;
      font-size: 20px;
      line-height: 20px;
      color: $basic-black;
      text-transform: uppercase;
      width: auto;
      align-items: center;
      height: 68px;
      padding: 22px 75px;
    }
  }
