.navigation__toggle {
  display: flex; // flex для отображения
  position: relative;
  z-index: 5;
  align-items: center;
  justify-content: flex-end;
  width: 24px;
  height: 18px;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $basic-black;
    transition: all 0.2s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: $basic-black;
  }

// добавить класс active в navigation__toggle для переключения в крестик

  &.active.navigation__toggle span {
    transform: scale(0);
  }

  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  @media screen and (width > $tablet-width) {
    display: none;
  }
}

