.program-selection {
  font-family: $font-family-oswald;

  @media screen and (width > $tablet-width) {
    padding-inline: 40px;
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
    color: $basic-black;
    margin-block: 27px 37px;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    color: $basic-black;
    margin-bottom: 39px;

    @media screen and (width > $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 66px;
      max-width: 320px;
    }
  }
}
