.programs {
  padding-bottom: 20px;

  &__list {
    display: grid;
    width: 100%;

    @media screen and (width > $tablet-width) {
      justify-content: center;
      padding-bottom: 45px;
    }

   @media screen and (width > $desktop-width) {
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      max-width: 1220px;
      margin: 0 auto;
    }
  }

  &__item {
    width: 100%;
    background-color: $grey-f2f2f2;
    padding: 30px 33px 18px 20px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

    @media screen and (width > $tablet-width) {
      padding: 24px 53px 28px 52px;
      width: 708px;
     }

    @media screen and (width > $desktop-width) {
        width: 570px;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
  }

  &__item--slim {
    background-image: url('../../icons/stack.svg#icon-cat-slim');
    background-repeat: no-repeat;
    background-size: 50px 53px;
    background-position: 20px 20px;

    @media screen and (width > $tablet-width) {
      background-size: 200px 211px;
      background-position: 445px 20px;
    }

    @media screen and (width > $desktop-width) {
      background-size: 100px 105px;
      background-position: 50px 20px;
    }
  }

  &__item--muscles {
    background-image: url('../../icons/stack.svg#icon-cat-muscles');
    background-repeat: no-repeat;
    background-size: 67px 50px;
    background-position: 20px 20px;

    @media screen and (width > $tablet-width) {
      background-size: 268px 200px;
      background-position: 420px 20px;
    }

    @media screen and (width > $desktop-width) {
      background-size: 134px 100px;
      background-position: 50px 20px;
    }
  }

  &__title {
    font-family: $font-family-oswald;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: $basic-black;
    text-transform: uppercase;
    margin-bottom: 29px;
    margin-left: 80px;

    @media screen and (width > $tablet-width) {
      margin-left: 0;
      font-size: 36px;
      line-height: 36px;
    }

    @media screen and (width > $desktop-width) {
      margin-left: 160px;
      margin-top: 30px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    font-family: $font-family-lato;
    color: $base-text-color;
    padding-bottom: 23px;
    border-bottom: $border;

    @media screen and (width > $tablet-width) {
      max-width: 340px;
      border: none;
      font-size: 16px;
      line-height: 24px;
      color: $basic-black;
      padding-bottom: 0;
      margin-bottom: 23px;
      border-bottom: none;

     }

     @media screen and (width > $desktop-width) {
      max-width: 457px;
      margin-top: 50px;
     }
  }

  &__link {
    font-family: $font-family-oswald;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: $basic-black;
    text-transform: uppercase;
    display: block;
    width: 165px;
    height: 24px;
    position: relative;
    padding: 15px 15px 20px 5px;
    margin-left: -5px;

    &:hover,
    &:active {
        opacity: 0.6;
    }

    @media screen and (width > $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 15px 35px 15px 15px;
      height: 48px;
      margin-left: -15px;
     }

    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 12px;
      background-color: $basic-black;
      mask-image: url('../../icons/stack.svg#icon-arrow');
      mask-size: 24px 12px;
      mask-position: 100%;
      mask-repeat: no-repeat;
      position: absolute;
      top: 40%;
      left: 60%;

      @media screen and (width > $tablet-width) {
        left: 86%;
       }
    }
  }

}
