.programs {
  margin-bottom: 20px;

  &__list {
    display: grid;
    width: 100%;


    @media screen and (width > $tablet-width) {
      justify-content: center;
    }

   @media screen and (width > $desktop-width) {
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      // justify-items: center;
    }
  }

  &__item {
    width: 100%;
    background-color: $basic-grey;
    padding: 30px 33px 18px 20px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

    @media screen and (width > $tablet-width) {
      padding: 24px 53px 28px 52px;
      width: 708px;
     }

    @media screen and (width > $desktop-width) {
        width: 570px;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
  }

  &__item--slim {
    background-image: url('../../icons/stack.svg#icon-cat-slim');
    background-repeat: no-repeat;
    background-size: 50px 53px;
    background-position: 20px 20px;

    @media screen and (width > $tablet-width) {
      background-size: 200px 211px;
      background-position: 445px 20px;
    }

    @media screen and (width > $desktop-width) {
      background-size: 100px 105px;
      background-position: 50px 20px;
    }
  }

  &__item--muscles {
    background-image: url('../../icons/stack.svg#icon-cat-muscles');
    background-repeat: no-repeat;
    background-size: 67px 50px;
    background-position: 20px 20px;

    @media screen and (width > $tablet-width) {
      background-size: 268px 200px;
      background-position: 420px 20px;
    }

    @media screen and (width > $desktop-width) {
      background-size: 134px 100px;
      background-position: 50px 20px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 37px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 29px;
    margin-left: 80px;
    font-family: $font-family-oswald;

    @media screen and (width > $tablet-width) {
      margin-left: 0;
    }

    @media screen and (width > $desktop-width) {
      margin-left: 160px;
      margin-top: 30px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    font-family: "Lato", sans-serif;
    // color: $base-text-color;
    padding-bottom: 23px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;

    @media screen and (width > $tablet-width) {
      max-width: 340px;
      border: none;
     }

     @media screen and (width > $desktop-width) {
      max-width: 457px;
      margin-top: 50px;
     }
  }

  &__link {
    font-family: $font-family-oswald;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    display: block;
    width: 133px;
    height: 24px;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 12px;
      background-color: #000;
      mask-image: url('../../icons/stack.svg#icon-arrow');
      mask-size: 24px 12px;
      mask-position: 100%;
      mask-repeat: no-repeat;
      position: absolute;
      top: 15%;
      left: 80%;
      // transform: translate(-50%, -50%);
    }
  }

}
