.programs {
  padding-bottom: 11px;

  @media screen and (width > $tablet-width) {
    max-width: 708px;
    margin: 0 auto;
  }

  @media screen and (width > $desktop-width) {
    max-width: 1220px;
    padding-bottom: 42px;
  }

  &__list {
    display: grid;
    width: 100%;

    @media screen and (width > $tablet-width) {
      justify-content: center;
      padding-bottom: 30px;
    }

   @media screen and (width > $desktop-width) {
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }

  &__item {
    width: 100%;
    background-color: $grey-f2f2f2;
    padding: 30px 33px 18px 20px;

      &:not(:last-child) {
        margin-bottom: 14px;
        @media screen and (width > $tablet-width)  {
          margin-bottom: 30px;
        }
      }

    @media screen and (width > $tablet-width) {
      padding: 81px 53px 49px 52px;
      width: 708px;
     }

    @media screen and (width > $desktop-width) {
        width: 570px;
        padding-top: 47px;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
  }

  &__item--slim {
    background-image: url('../../icons/stack.svg#icon-cat-slim');
    background-repeat: no-repeat;
    background-size: 50px 53px;
    background-position: 20px 20px;

    @media screen and (width > $tablet-width) {
      background-size: 200px 211px;
      background-position: 444px 84px;
    }

    @media screen and (width > $desktop-width) {
      background-size: 100px 105px;
      background-position: 51px 41px;
    }
  }

  &__item--muscles {
    background-image: url('../../icons/stack.svg#icon-cat-muscles');
    background-repeat: no-repeat;
    background-size: 67px 50px;
    background-position: 14px 22px;

    @media screen and (width > $tablet-width) {
      background-size: 268px 200px;
      background-position: 410px 92px;
    }

    @media screen and (width > $desktop-width) {
      background-size: 134px 100px;
      background-position: 34px 47px;
    }
  }

  &__title {
    font-family: $font-family-oswald;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: $basic-black;
    text-transform: uppercase;
    margin-bottom: 29px;
    margin-left: 71px;

    @media screen and (width > $tablet-width) {
      margin-left: 0;
      font-size: 36px;
      line-height: 36px;
      padding-right: 235px;
      margin-bottom: 22px;
    }

    @media screen and (width > $desktop-width) {
      margin-left: 160px;
      margin-top: 30px;
      margin-bottom: 73px;
      padding-right: 0;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    font-family: $font-family-lato;
    color: $base-text-color;
    padding-bottom: 23px;
    border-bottom: $border;

    @media screen and (width > $tablet-width) {
      max-width: 340px;
      border: none;
      font-size: 16px;
      line-height: 24px;
      color: $basic-black;
      padding-bottom: 0;
      margin-bottom: 44px;
      border-bottom: none;

     }

     @media screen and (width > $desktop-width) {
      max-width: 457px;
      margin-top: 50px;
      margin-bottom: 18px;
     }
  }

  &__link {
    font-family: $font-family-oswald;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: $basic-black;
    text-transform: uppercase;
    display: flex;
    min-width: 230px;
    height: 24px;
    position: relative;
    padding: 25px 15px 20px 0;
    gap: 18px;
    align-items: center;

    &:hover,
    &:active {
        opacity: 0.6;
    }

    @media screen and (width > $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 15px 35px 15px 0;
      height: 48px;
      gap: 25px;
     }

    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 12px;
      background-image: url('../../icons/stack.svg#icon-arrow');
      background-size: 24px 12px;
      background-repeat: no-repeat;


      @media screen and (width > $tablet-width) {
        left: 86%;
       }
    }

    &:hover::after,
    &:active::after {
        width: 32px;
        background-size: 32px 12px;
    }
  }
}


