.slider {
  position: relative;
  height:  256px;
  width: 100%;
  display: flex;

  @media screen and (width > $tablet-width) {
    margin: 0 auto;
    width: 560px;
    height:  512px;
  }

  @media screen and (width > $desktop-width) {
    margin: 0;
  }

  & img {
    @media screen and (width > $tablet-width) {
      width: 560px;
      height:  512px;
    }
  }

  &__img--fat {
    width: 50%;
    overflow: hidden;
  }

  &__img--skinny {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    background-color: $grey-666666;
    border: none;
    border-radius: 2px;
    width: 4px;
    height: 100%;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 15px;

    &::before {
      content: '';
      background-color: $basic-white;
      border: 2px solid $grey-666666;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      mask-image: url('../../icons/stack.svg#icon-slider-arrows');
      mask-size: 24px 18px;
      mask-position: 50%;
      mask-repeat: no-repeat;
      background-color: $grey-666666;
      width: 24px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}
