.social {

  display: flex;
  justify-content: center;
  border-block: $border;;
  min-height: 30px;

  &__item {
    display: block;
    background-image: url(../../icons/stack.svg#icon-vkontakte);
    background-repeat: no-repeat;
    background-size: 28px 22px;
  }
}
